fastapi
uvicorn
langchain
langchain-google-genai
langchain-community
openai-whisper
chromadb
tiktoken
gTTS
pydub
requests
python-dotenv
ollama

# --- Dependencies for Unit Testing ---
pytest
pytest-asyncio
httpx