fastapi
uvicorn
langchain
langchain-google-genai
langchain-community
openai-whisper
chromadb
tiktoken
gTTS
pydub
requests
python-dotenv
ollama
redis
ultralytics
opencv-python
numpy
lap
pandas
scikit-learn
aioredis

# --- Dependencies for Unit Testing ---
pytest
pytest-asyncio
httpx